<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent loop if already in public
    RewriteCond %{REQUEST_URI} ^/kanhakisliholiday/public/ [NC]
    RewriteRule ^ - [L]

    # Handle direct request to root
    RewriteRule ^$ public/ [L]

    # Rewrite non-existent files/directories into public folder
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
